.previewWrapper{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    .previewData{
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 10px 15px 10px 15px;
        background-color: #fff;
        color: #000;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
        .previewInfoBlock{
            font-size: 0.8rem;
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid rgb(223, 223, 223);
            span{
                text-shadow: 0px 0px 1px #000;
            }
        }        
    }
    .previewParteFantasia{
        position: absolute;
        top: 0px;
        width: 100%;
        left: 0px;
        height: 100%;
    }
    .view{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
    }
}

//SINGLE PRODUCT
.woocommerce-product-gallery--with-images{
    padding-top: 60%;
}
.zen_imageWrapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    transition-duration: .4s;
    &.active{
        opacity: 1;
    }
    .zen_base{
        display: block;
    }
    .zen_ombre_luci{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: contain;
        object-position: center bottom;
        mix-blend-mode: multiply;
    }
    .zen_area,.zen_parte_fant{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        transition-duration: .3s;
    }
}
.zen_menu_viste{
    position: absolute;
    top: 0px;
    right: 6px;
    text-align: right;
    .zen_btn_vista{
        display: inline-block;
        margin: 14px 7px;
        background-color: #fff;
        padding: 4px 10px;
        cursor: pointer;
        font-size: .7rem;
        text-transform: uppercase;
        border: 1px solid #fff;
        transition-duration: .4s;
        &:hover{
            border: 1px solid #000;
        }
        &.active{
            background-color: #000;
            color: #fff;
            border: 1px solid #000;
        }
    }
}



.zen_tool{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    .zen_tool_tasto{
        float: left;
        padding: 6px 12px 6px 12px;
        font-size: .7rem;
        cursor: pointer;
    }
    .zen_tool_aree{
        background-color: transparent;
        margin-left: 5px;
        margin-right: 5px;
        .zen_tool_tasto{
            font-size: .7rem;
            text-transform: uppercase;
            font-weight: bold;
            margin: 5px;
            background-color: #fff;
            border: 1px solid #fff;
            transition-duration: .4s;
            &:hover{
                border: 1px solid #000;
            }
            &.selected{
                background-color: #000;
                color: #fff;
                border: 1px solid #000;
            }
        }
    }
    .zen_tool_parti{
        background-color: rgba(255,255,255,0.69);
        .zen_tool_tasto{
            position: relative;
            transition-duration: .3s;
            border-top: 1px solid rgba(0,0,0,0);
            border-left: 1px solid rgba(0,0,0,0);
            border-right: 1px solid rgba(0,0,0,0);
            &.selected{
                background-color: rgba(255,255,255,1);
                border-top: 1px solid rgba(0,0,0,0.1);
                border-left: 1px solid rgba(0,0,0,0.1);
                border-right: 1px solid rgba(0,0,0,0.1);
                &::after{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    background-color: #fff;
                }
            }
            &:hover{            
                background-color: rgba(255,255,255,1);
            }
        }
    }
    .zen_tool_colori{
        background-color: #fff; 
        border-top: 1px solid rgba(0,0,0,0.07);
        cursor: grab;
        overflow: hidden;
        white-space: nowrap;
        .zen_tool_tasto{
            position: relative;
            float: none;
            display: inline-block;
            padding: 0px;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            margin: 15px 10px;
            box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
            transition-duration: .3s;
            &:hover{            
                transform: scale(1.2);
            }
            &.selected{
                box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
                &::after{
                    content: '';
                    position: absolute;
                    top: -7px;
                    left: -7px;
                    border-radius: 50%;
                    width: calc(100% + 14px);
                    height: calc(100% + 14px);
                    box-shadow: 0px 0px 7px inset rgba(0,0,0,0.2);
                }
                &:hover{            
                    transform: scale(1);
                }
            }
        }
    }
}